<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Framajauge{% endblock %}</title>

    <!-- Styles
    ================================================== -->
    <link href="vendor/bootstrap-3.3.1/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Main content
    ================================================== -->
    {% block content %}{% endblock %}

    <!-- Javascripts
    ================================================== -->
    <script src="vendor/jquery-1.11.2.min.js"></script>
    <script src="vendor/bootstrap-3.3.1/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
